<div>
  <h1 class="text-5xl"> Welcome to Admin Mode! </h1>
  <div class="flex gap-4 mt-6">
    <%= link_to "New Product", new_product_path, class: "p-2 rounded-lg bg-blue-500 text-blue-100" %>
  </div>
</div>