<%= link_to category do %>
  <div id="<%= dom_id category %>" class="relative flex items-center justify-center">
    <%= image_tag category.image, class: "w-full h-80 object-cover rounded-lg brightness-75 hover:brightness-50 transition-all duration-250" if category.image.attached? %>
    <p class="text-lg text-gray-50 absolute text-3xl font-bold"> <%= category.name %> </p>
  </div>
<% end %>