<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Categories" %>

  <h1 class="font-bold text-7xl text-center font-broken text-indigo-700">All Categories</h1>

  <div id="categories" class="min-w-full grid md:grid-cols-4 gap-8">
    <% @categories.each do |category| %>
      <%= render category %>
    <% end %>
  </div>
</div>
