<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "The Best Products" %>

  <h1 class="font-bold text-7xl text-center font-broken text-indigo-700">The Best Products</h1>

  <div id="products" class="min-w-full grid grid-cols-4 gap-8">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>
</div>
